<main>
  <h1>DASHBOARD</h1>

  <section>
    <h2>Number of Contacts</h2>
    <p>{{ numberOfContacts() }}</p>
  </section>

  <section>
    <h2>Number of Favorites</h2>
    <p>{{ numberOfFavorites() }}</p>
  </section>

  <section>
    <h2>Number of Categories</h2>
    <p>{{ numberOfCategories() }}</p>
  </section>

  <section>
    <h2>Last contact recorded</h2>
    @if (lastContactRecorded(); as lastContact) {
      <p>{{ lastContact.firstName }} {{ lastContact.lastName }}</p>
      <p>Added on: {{ lastContact.createdAt | date }}</p>
    } @else {
      <p>No contacts recorded yet.</p>
    }
  </section>
</main>
