<header>
    <div class="general">
        <nav >
            <div class="title-nav-container">
                
                <div class="title-container">
                    <span>
                        ContactCRM
                    </span>
                </div>

                <div class="nav">                
                    <ul>
                        <li>
                            <a routerLink='/'
                                
                                class="text-gray-700 hover:text-blue-700 block py-2 pr-4 pl-3"
                            >
                                Home
                            </a>
                        </li>
                        <li>
                            <a routerLink='/contacts'
                                class="text-gray-700 hover:text-blue-700 block py-2 pr-4 pl-3"
                            >
                                Contacts list
                            </a>
                        </li>
                        <li>
                            <a routerLink='/categories'
                                class="text-gray-700 hover:text-blue-700 block py-2 pr-4 pl-3"
                            >
                                Categories
                            </a>
                        </li>
                        <li>
                            <a routerLink='/favorites'
                                class="text-gray-700 hover:text-blue-700 block py-2 pr-4 pl-3"
                            >
                                Favorites
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        
    </div>

    </header>
