    
    <table class="table">
        <thead>
            <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Category</td>
            <td></td>
            </tr>
        </thead>
        @for (contact of contacts(); track contact.id){
            <tr>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.categoryId }}</td>
                <td>
                <button (click)="onDetails(contact.id)">Details</button>
                <button (click)="toggleFavorite(contact.id)">
                    {{ contact.isFavorite ? 'Remove from Favorites' : 'Add to Favorites' }}
                </button>
                </td>
            </tr>
        }

    </table>