    .button a {
        font-size: 1.5rem;
        padding: 3px 6px;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #57636e;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }