<main>
    <h1>List of contacts</h1>
    <a routerLink="/contacts/new">New Contact +</a>
    
    <div class="filters">
        <input
        type="text"
        placeholder="Search by name or email"
        (input)="updateSearchTerm($event)"
        >

    <select (change)="updateCategory($any($event.target).value)">
      <option value="">All Categories</option>
      <option value="1">Category 1</option>
      <option value="2">Category 2</option>
      <option value="3">Category 3</option>
    </select>

    <label>
      <input
        type="checkbox"
        [checked]="contactsManagerService.showFavoritesOnly()"
        (change)="toggleFavoritesOnly()"
      >
      Favorites only
    </label>

    <label>
      <input
        type="checkbox"
        [checked]="contactsManagerService.showDeleted()"
        (change)="toggleShowDeleted()"
      >
      Show deleted contacts
    </label>
  </div>

  <!-- Tri -->
  <div class="sort-options">
    <button (click)="updateSortBy('name')">
      Sort by Name {{ contactsManagerService.sortBy() === 'name' ? (contactsManagerService.sortDirection() === 'asc' ? '↑' : '↓') : '' }}
    </button>
    <button (click)="updateSortBy('date')">
      Sort by Date {{ contactsManagerService.sortBy() === 'date' ? (contactsManagerService.sortDirection() === 'asc' ? '↑' : '↓') : '' }}
    </button>
  </div>

    <app-contact-list-component
    [contacts]="sortedContacts()"
    (details)="onDetails($event)"
    (favoriteUpdated)="onFavoriteUpdated()"
    />

</main>